<h1>Personal Work</h1>
<ol id="portfolio">
  <li>
    <h2>HH-60G Pave Hawk</h2>
    <h3>Personal Project 2006</h3>
    <div class="thumbnails">
      <%= portfolio_thumb("PaveHawk_WarmUp_v001.jpg", "Warming up the engines.") %> 
      <%= portfolio_thumb("PaveHawk_AirAirFuel_v001.jpg", "Refueling.") %> 
      <%= portfolio_thumb("PaveHawk_GreyB_v001.jpg", "The model itself.") %> 
      <%= portfolio_thumb("PaveHawk_GreyA_v001.jpg", "The model itself.") %> 
      <%= portfolio_thumb("PaveHawk_Patrol_v001.jpg", "Patrol.") %>
      <%= portfolio_thumb("PaveHawk_Waiting_v001.jpg", "Waiting in the cold - more a concept of an idea.") %>
      <%= portfolio_thumb("PaveHawk_Fisheye_v002.jpg", "Dusty Mojave Trip - more a concept of an idea.") %>
      <%= portfolio_thumb("PaveHawk_Testshots_v001.mov") %>  
    </div>
    <dl>
      <dt>Description:</dt>
      <dd>Due to my passion for aviation and especially helicopters, I decided to create a Pave Hawk. It appears in several shots of Roland Emmerich's "2012" as well.</dd>
    </dl>
  </li>

  <li>
    <h2>Various 3D Work</h2>
    <h3>Other personal renderings</h3>
    <div class="thumbnails">
      <%= portfolio_thumb("EC135_Police_v001.jpg", "A personal version of the EC135 I created for the Strabag Spot.") %>
      <%= portfolio_thumb("EC135_Takeoff_v001.jpg", "Another personal render of the EC-135 model.") %>
      <%= portfolio_thumb("Boeing777_Airport_v001.jpg", "A personal version of the Boeing-777 I created for the Strabag Spot.") %>
      <%= portfolio_thumb("Crunchy_v001.jpg", "Just a colorful fictive pack shot") %>
      <%= portfolio_thumb("Underwater_v001.jpg", "A very very old displacement test I liked.") %>
    </div>
    <dl>
      <dt>Description:</dt>
      <dd>A Collection of various personal renderings I did over the past years.</dd>
    </dl>
  </li>

  <li>
    <h2>Photography</h2>
    <h3>Canon Ixus, 20D and 5D Mark II</h3>

    <div class="thumbnails">

      <%= portfolio_thumb("Photos_Audi_v001.jpg", "The German Car. New York City.") %>
      <%= portfolio_thumb("Photos_Steffi_v001.jpg", "Sunset. Heidelberg.") %>
      <%= portfolio_thumb("Photos_Venice_v001.jpg", "Life at Venice Beach California. Los Angeles.") %>
      <%= portfolio_thumb("Photos_Jellyfish_v001.jpg", "SlowMotion. San Francisco.") %>
      <%= portfolio_thumb("Photos_Jellyfish_v002.jpg", "SlowMotion II. San Francisco.") %>
      <%= portfolio_thumb("Photos_FurryGuy_v001.jpg", "Outpost. Berlin.") %>
      <%= portfolio_thumb("Photos_NYShip_v001.jpg", "Sailing. New York City") %>
      <%= portfolio_thumb("Photos_F18_v002.jpg", "Sleeping Afterburners. Berlin.") %>
      <%= portfolio_thumb("Harrier_Rimlight_v001.jpg", "Approaching. New York City.") %>
      <%= portfolio_thumb("People_Silouettes_v001.jpg", "Venice Sunset. Los Angeles.") %>

    </div>

    <dl>
      <dt>Description:</dt>
      <dd>A few photos I took over the past years.
      </dd>
    </dl>

  </li>

  <li>
    <h2>Iphone 4 Shots</h2>
    <h3>Snapshots I like, entirely done with the phone.</h3>

    <div class="thumbnails">

      <%= portfolio_thumb("Photos_I4Cruise_v001.jpg", "Crusin'. New York City.") %>
      <%= portfolio_thumb("Photos_I4CentralP_v001.jpg", "For The Birds. New York City.") %>
      <%= portfolio_thumb("Photos_I4Head_v002.jpg", "Silenced. New York City.") %>
      <%= portfolio_thumb("Photos_I4Cruise_v002.jpg", "Lantern. New York City.") %>
      <%= portfolio_thumb("Photos_I4CentralP_v002.jpg", "Patience. New York City.") %>
      <%= portfolio_thumb("Photos_I4LoneBld_v001.jpg", "Outpost. New York City.") %>
      <%= portfolio_thumb("Photos_Weihnachtsmarkt_v001.jpg", "Weihnachtsmarkt. Berlin.") %>
      <%= portfolio_thumb("Photos_SonyCenter_v001.jpg", "Outpost. Berlin.") %>

    </div>

    <dl>
      <dt>Description:</dt>
      <dd>Just some quick editing of snapshots on the phone while sitting in the subway.
      </dd>
    </dl>

  </li>

</ol>
