<h1>Commercial Work</h1>
<ol id="portfolio">

  <li>
    <h2>White House Down</h2>
    <h3>Uncharted Territory, Los Angeles USA 2012 – 2013</h3>
    <div class="thumbnails">
      <%= portfolio_thumb("WHD_v001.jpg", "Content not public yet...") %> 
    </div>
    <dl>
      <dt>Position:</dt>
      <dd>3D Modeling Supervisor</dd>
      <dt>Description:</dt>
      <dd>I was in charge of quality control of the main vendor assets as well as look development of those assets and the environments. I created very detailed parts of Washington DC for previs and postvis. My detailed knowledge about the entire White House area and the Washington Mall came in very handy to assure accuracy and speeding up the entire creation process by a lot. I also lit and rendered a few smaller final shots. Content not public yet.
      </dd>
    </dl>
  </li>

  <li>
    <h2>Abraham Lincoln: Vampire Hunter</h2>
    <h3>Los Angeles USA 2011 – 2012</h3>
    <div class="thumbnails">
      <%= portfolio_thumb("Abraham_v001.jpg", "Content not public yet...") %> 
    </div>
    <dl>
      <dt>Position:</dt>
      <dd>3D Lead</dd>
      <dt>Description:</dt>
      <dd>I created parts of modern and old Washington DC which included planting about 60.000 trees and bushes according to their correct position, size and kind. Some of those trees had to have detailed wind simulation to interact with a helicopter. Content follows soon.
      </dd>
    </dl>
  </li>

  <li>
    <h2>Minion Mayhem Motion Ride</h2>
    <h3>The Third Floor Inc, Los Angeles 2011</h3>
    <div class="thumbnails">
      <%= portfolio_thumb("MinionMayhem_v001.jpg", "Content not public yet...") %> 
    </div>
    <dl>
      <dt>Position:</dt>
      <dd>3D Modeler</dd>
      <dt>Description:</dt>
      <dd>I was part of a great team which was in charge of doing the stereo previs of the entire Minion Mayhem motion ride. I worked directly with the creators and partly designed the environments to match story points as. Content follows soon.
      </dd>
    </dl>
  </li>

  <li>
    <h2>The Avengers</h2>
    <h3>The Third Floor Inc, Los Angeles 2010 - 2011</h3>
    <div class="thumbnails">
      <a title="Content not available yet..." href="images/commercialwork/TheAvengers_v001.jpg"><img alt="" width="1000" height="100" src="images/commercialwork/thumbs/TheAvengers_v001.jpg" /></a> 
    </div>
    <dl>
      <dt>Position:</dt>
      <dd>Look Development Artist</dd>
      <dt>Description:</dt>
      <dd>Couple of months of vehicle design and ensuring mechanical believability of the Quinjet, the aircraft carrier and props. Content follows soon. 
      </dd>
    </dl>
  </li>


     
  <li>
    <h2>Anonymous</h2>
    <h3>Uncharted Territory, Berlin 2009 - 2010</h3>
    <div class="thumbnails">
      <%= portfolio_thumb("Anonymous_v001.jpg", "Supervised asset creation, shading, lighting and rendering. Shot Artist was me.", :rel => 'uncharted-territory-berlin-germany-2009-2010') %> 
      <%= portfolio_thumb("Anonymous_v002.jpg", "Supervised asset creation, shading, lighting and rendering. Shot Artist was Irfan Celic.", :rel => 'uncharted-territory-berlin-germany-2009-2010') %>  
      <%= portfolio_thumb("Anonymous_v003.jpg", "Supervised asset creation, shading, lighting and rendering. Shot Artist was me.", :rel => 'uncharted-territory-berlin-germany-2009-2010') %> 
      <%= portfolio_thumb("Anonymous_v004.jpg", "Supervised asset creation, shading, lighting and rendering. Shot Artist was me.", :rel => 'uncharted-territory-berlin-germany-2009-2010') %> 
      <%= portfolio_thumb("Anonymous_v005.jpg", "Supervised asset creation, shading, lighting and rendering. Shot Artist was Gereon Zwosta.", :rel => 'uncharted-territory-berlin-germany-2009-2010') %> 
      <%= portfolio_thumb("Anonymous_v006.jpg", "Supervised asset creation, shading, lighting and rendering. Shot Artist was Gereon Zwosta.", :rel => 'uncharted-territory-berlin-germany-2009-2010') %> 
      <%= portfolio_thumb("Anonymous_v007.jpg", "Supervised asset creation, shading, lighting and rendering. Shot Artist was Hannes Poser.", :rel => 'uncharted-territory-berlin-germany-2009-2010') %> 
      <%= portfolio_thumb("Anonymous_v008.jpg", "Supervised asset creation, shading, lighting and rendering. Shot Artist was Irfan Celic.", :rel => 'uncharted-territory-berlin-germany-2009-2010') %> 
      <%= portfolio_thumb("Anonymous_v009.jpg", "Supervised asset creation, shading, lighting and rendering. Shot Artist was Irfan Celic.", :rel => 'uncharted-territory-berlin-germany-2009-2010') %> 
      <%= portfolio_thumb("Anonymous_v010.jpg", "Supervised asset creation, shading, lighting and rendering. Shot Artist was Robert Freitag.", :rel => 'uncharted-territory-berlin-germany-2009-2010') %> 
      <%= portfolio_thumb("Anonymous_v011.jpg", "Supervised asset creation, shading, lighting and rendering. Shot Artist was Robert Freitag.", :rel => 'uncharted-territory-berlin-germany-2009-2010') %> 
      <%= portfolio_thumb("Anonymous_v012.jpg", "Supervised asset creation, shading, lighting and rendering. Shot Artist was Robert Freitag.", :rel => 'uncharted-territory-berlin-germany-2009-2010') %> 
      <%= portfolio_thumb("Anonymous_v013.jpg", "Supervised asset creation, shading, lighting and rendering. Shot Artist was Robert Freitag.", :rel => 'uncharted-territory-berlin-germany-2009-2010') %> 
      <%= portfolio_thumb("Anonymous_v014.jpg", "Supervised asset creation, shading, lighting and rendering. Shot Artist was Robert Freitag.", :rel => 'uncharted-territory-berlin-germany-2009-2010') %> 
      <%= portfolio_thumb("Anonymous_v015.jpg", "Supervised asset creation, shading, lighting and rendering. Shot Artists were Rene Borst an me.", :rel => 'uncharted-territory-berlin-germany-2009-2010') %> 
      <%= portfolio_thumb("Anonymous_v016.jpg", "Supervised asset creation, shading, lighting and rendering. Shot Artist was me.", :rel => 'uncharted-territory-berlin-germany-2009-2010') %> 
      <%= portfolio_thumb("Anonymous_v017.jpg", "Supervised asset creation, shading, lighting and rendering. Shot Artist was me.", :rel => 'uncharted-territory-berlin-germany-2009-2010') %> 
      <%= portfolio_thumb("Anonymous_v018.jpg", "Supervised asset creation, shading, lighting and rendering. Shot Artist was me.", :rel => 'uncharted-territory-berlin-germany-2009-2010') %> 
      <%= portfolio_thumb("Anonymous_v019.jpg", "Supervised asset creation, shading, lighting and rendering. Shot Artist was me.", :rel => 'uncharted-territory-berlin-germany-2009-2010') %> 
      <%= portfolio_thumb("Anonymous_v020.jpg", "Supervised asset creation, shading, lighting and rendering. Shot Artist was me.", :rel => 'uncharted-territory-berlin-germany-2009-2010') %> 
      <%= portfolio_thumb("Anonymous_v021.jpg", "The London Bridge, one of the major assets, modeled by me to 95%", :rel => 'uncharted-territory-berlin-germany-2009-2010') %> 
      <%= portfolio_thumb("Anonymous_v022.jpg", "The London Bridge, one of the major assets, modeled by me to 95%", :rel => 'uncharted-territory-berlin-germany-2009-2010') %> 
      <%= portfolio_thumb("Anonymous_v023.jpg", "The London Bridge, one of the major assets, modeled by me to 95%", :rel => 'uncharted-territory-berlin-germany-2009-2010') %> 
      <%= portfolio_thumb("Anonymous_v024.jpg", "The London Bridge, one of the major assets, modeled by me to 95%", :rel => 'uncharted-territory-berlin-germany-2009-2010') %> 

    </div>
    <dl>
      <dt>Position:</dt>
      <dd>3D Modeling Lead &amp; Lighting Lead</dd>
      <dt>Description:</dt>
      <dd>A very small team of five 3D artists in average created the entire 3D vfx part during 10 months of production time. Hundreds of assets needed to be created, an entire London was rebuilt according to a city map of the year 1600. The major assets I built for the most part were the London Bridge, Whitehall Palace and tons of low poly houses/assets for filling up the city. Besides that I supervised the entire asset creation and the lighting of the shots.
      </dd>
    </dl>
  </li>
     
  <li>
    <h2>2012</h2>
    <h3>Uncharted Territory, Los Angeles USA 2008 – 2009</h3>
    <div class="thumbnails">
      <%= portfolio_thumb("2012_LAL_v003.jpg", "Supervised asset creation, shading, lighting and rendering. Shot Artists were Nathan Millsap and myself.", :rel => 'uncharted-territory-los-angeles-usa-2008-2009') %> 
      <%= portfolio_thumb("2012_LAL_v004.jpg", "Supervised asset creation, shading, lighting and rendering. Shot Artist was Nathan Millsap.", :rel => 'uncharted-territory-los-angeles-usa-2008-2009') %> 
      <%= portfolio_thumb("2012_LAL_v005.jpg", "Supervised asset creation, shading, lighting and rendering. Shot Artist was Rodrigo Teixera.", :rel => 'uncharted-territory-los-angeles-usa-2008-2009') %> 
      <%= portfolio_thumb("2012_LAL_v006.jpg", "Supervised asset creation, shading, lighting and rendering. Shot Artist was Rodrigo Teixera.", :rel => 'uncharted-territory-los-angeles-usa-2008-2009') %> 
      <%= portfolio_thumb("2012_LAL_v007.jpg", "Supervised asset creation, shading, lighting and rendering. Shot Artist were Alex Scollay and myself.", :rel => 'uncharted-territory-los-angeles-usa-2008-2009') %> 
      <%= portfolio_thumb("2012_LAL_v008.jpg", "Supervised asset creation, shading, lighting and rendering. Shot Artist were Justin Lloyd and myself", :rel => 'uncharted-territory-los-angeles-usa-2008-2009') %> 
      <%= portfolio_thumb("2012_LAL_v009.jpg", "Supervised asset creation, shading, lighting and rendering. Shot Artist was Curtis Cardwell.", :rel => 'uncharted-territory-los-angeles-usa-2008-2009') %> 
      <%= portfolio_thumb("2012_LAL_v010.jpg", "Supervised asset creation, shading, lighting and rendering. Shot Artist was Joe Mangione.", :rel => 'uncharted-territory-los-angeles-usa-2008-2009') %> 
      <%= portfolio_thumb("2012_LAL_v011.jpg", "Supervised asset creation, shading, lighting and rendering. Shot Artist was Joe Mangione.", :rel => 'uncharted-territory-los-angeles-usa-2008-2009') %> 
      <%= portfolio_thumb("2012_LAL_v012.jpg", "Supervised asset creation, shading, lighting and rendering. Shot Artist was Erick Schiele.", :rel => 'uncharted-territory-los-angeles-usa-2008-2009') %> 
      <%= portfolio_thumb("2012_LAL_v013.jpg", "Supervised asset creation, shading, lighting and rendering. Shot Artist was Erick Schiele.", :rel => 'uncharted-territory-los-angeles-usa-2008-2009') %> 
      <%= portfolio_thumb("2012_LAL_v014.jpg", "Supervised asset creation, shading, lighting and rendering. Shot Artist was Marion Spates", :rel => 'uncharted-territory-los-angeles-usa-2008-2009') %> 
      <%= portfolio_thumb("2012_LAL_v015.jpg", "Supervised asset creation, shading, lighting and rendering. Shot Artist was Anthony Juno Han., :rel => 'uncharted-territory-los-angeles-usa-2008-2009'") %>
      <%= portfolio_thumb("2012_LAL_v016.jpg", "Supervised asset creation, shading, lighting and rendering. Shot Artist was Anthony Juno Han.", :rel => 'uncharted-territory-los-angeles-usa-2008-2009') %> 
      <%= portfolio_thumb("2012_LAL_v017.jpg", "Supervised asset creation, shading, lighting and rendering. Shot Artist was Alex Scollay.", :rel => 'uncharted-territory-los-angeles-usa-2008-2009') %> 
      <%= portfolio_thumb("2012_LAL_v018.jpg", "Supervised asset creation, shading, lighting and rendering. Shot Artist was Curtis Cardwell.", :rel => 'uncharted-territory-los-angeles-usa-2008-2009') %> 
      <%= portfolio_thumb("2012_VEG_v001.jpg", "Worked on previs and supervised asset creation. Sequence Lead was Greg Tsadilas. Shot Artist was myself.", :rel => 'uncharted-territory-los-angeles-usa-2008-2009') %> 
      <%= portfolio_thumb("2012_VEG_v003.jpg", "Worked on previs and supervised asset creation. Sequence Lead was Greg Tsadilas. Shot Artist was myself.", :rel => 'uncharted-territory-los-angeles-usa-2008-2009') %> 
      <%= portfolio_thumb("2012_VEG_v004.jpg", "Worked on previs and supervised asset creation. Shot Artist and Sequence Lead was Greg Tsadilas.", :rel => 'uncharted-territory-los-angeles-usa-2008-2009') %> 
      <%= portfolio_thumb("2012_VEG_v005.jpg", "Worked on previs and supervised asset creation. Shot Artist and Sequence Lead was Greg Tsadilas.", :rel => 'uncharted-territory-los-angeles-usa-2008-2009') %> 
    </div>
    <dl>
      <dt>Position:</dt>
      <dd>3D Modeling Lead &amp; Lighting Lead</dd>
      <!--
      <dt>Shot Artists:</dt>
      <dd><a href="http://www.helgeschneider.de">Helge Schneider</a></dd>
      <dd><a href="http://www.fdp.de">Guido Westerwelle</a></dd>
      <dd><a href="http://www.benjamin-hat-gar-keine-homepage.de">Benjamin Blümchen</a></dd>
      <dd><a href="http://www.gunthendrunther.de.vu">Gunther Geiger</a></dd>
      -->
      <dt>Description:</dt>
      <dd>I was part of the Uncharted Territory inhouse-unit for 14 months, starting at pre-production till final delivery. The first half of the time I was the modeling lead doing quality control of all the assets and managed the modeling team (3ds max, MAYA and vendors). During the second half of the production I switched over to the Lighting Lead position, created a “plug&amp;play” light rig and managed the lighting/shading/rendering, while working on some shots as well. 
      </dd>
    </dl>

    <p><a href="#">Download</a> Quicktime of some Los Angeles Earthquake Sequence shots (available soon)</p>
    <p><a href="#">Download</a> Quicktime of some Las Vegas Escape Sequence shots (available soon)</p>

  </li>

  <li>
    <h2>SpecOps II Cinematic</h2>
    <h3>Tronic Studio, New York City USA 2007 – 2008</h3>
    <div class="thumbnails">
      <%= portfolio_thumb("SpecOps_v001.mov") %> 
    </div>
    <dl>
      <dt>Position:</dt>
      <dd>3D Lead Artist</dd>
      <dt>Description:</dt>
      <dd>I had to set up the render pipeline and train a small team in lighting and shading with finalRender Stage-1. The scenes needed to be optimized a lot due to the very restricted rendering power available. All assets and textures needed to be created from scratch. I didn't work on all the shots as I had to leave due to timing issues with another job after the deadline was extended. I was involved for 3.5 months.
      </dd>
    </dl>
    <p><a href="#">Download</a> Quicktime of the Cinematic (available soon)</p>
  </li>

  <li>
    <h2>Schweizer Fernsehen Redesign</h2>
    <h3>ACHT Frankfurt, Germany 2007</h3>
    <div class="thumbnails">
      <%= portfolio_thumb("SF_v001.mov") %> 
    </div>
    <dl>
      <dt>Position:</dt>
      <dd>3D Generalist</dd>
      <dt>Description:</dt>
      <dd>Being part of the 6 months production from previs to final I had to do research &amp; development, set supervision in Switzerland, create a lot of assets and render various sequences.
      </dd>
    </dl>
    <p><a href="#">Download</a> Quicktime of various trailers (available soon)</p>
  </li>

  <li>
    <h2>German Movie “Die Gustloff”</h2>
    <h3>Elektrofilm, Stuttgart and Koeln Germany 2007</h3>
    <div class="thumbnails">
      <%= portfolio_thumb("Gustloff_v001.jpg", "The hero shot of the asset.", :rel => 'elektrofilm-stuttgart-and-koeln-germany-2007') %> 
      <%= portfolio_thumb("Gustloff_v002.jpg", "Close up of it's side. All windows had to match the set and blueprints", :rel => 'elektrofilm-stuttgart-and-koeln-germany-2007') %> 
      <%= portfolio_thumb("Gustloff_v003.jpg", "Set extension.", :rel => 'elektrofilm-stuttgart-and-koeln-germany-2007') %> 
      <%= portfolio_thumb("Gustloff_v004.jpg", "Set extension.", :rel => 'elektrofilm-stuttgart-and-koeln-germany-2007') %> 
      <%= portfolio_thumb("Gustloff_v005.jpg", :rel => 'elektrofilm-stuttgart-and-koeln-germany-2007') %> 
    </div>
    <dl>
      <dt>Position:</dt>
      <dd>3D Modeling Lead</dd>
      <dt>Description:</dt>
      <dd>I had to model and match the entire ship “Gustloff” based on 1930’s and set blueprints. Every single handrail had to get it's UVs. I set up the base Photoshop files for the texture department as well as working on the hull’s texture.
      </dd>
    </dl>
    <p><a href="#">Download</a> Quicktime showing various angles (available soon)</p>
  </li>

  <li>
    <h2>STRABAG Commercial</h2>
    <h3>Optix Digital, Hamburg Germany 2006 – 2007</h3>
    <div class="thumbnails">
      <%= portfolio_thumb('Strabag_v001.mov', :rel => 'optix-digital-hamburg-germany-2006-2007') %>
      <%= portfolio_thumb('EC135_GreyA_v001.jpg', 'The high res model of the EC135. Initially planned to be very close to camera.', :rel => 'optix-digital-hamburg-germany-2006-2007') %> 
      <%= portfolio_thumb('EC135_GreyB_v001.jpg', 'The high res model of the EC135. Initially planned to be very close to camera.', :rel => 'optix-digital-hamburg-germany-2006-2007') %> 
      <%= portfolio_thumb('EC135_GreyC_v001.jpg', 'The high res model of the EC135. Initially planned to be very close to camera.', :rel => 'optix-digital-hamburg-germany-2006-2007') %> 
      <%= portfolio_thumb('Boeing777_GreyA_v001.jpg', 'The high res model of the Boeing-777. Initially planned to be very close to camera while opening all flaps and landing gear.', :rel => 'optix-digital-hamburg-germany-2006-2007') %> 
      <%= portfolio_thumb('Boeing777_GreyB_v001.jpg', 'All 77 slightly different windows modeled into the fuselage with fine beveled frames.', :rel => 'optix-digital-hamburg-germany-2006-2007') %> 
    </div>
    <dl>    	
      <dt>Position:</dt>
      <dd>3D Generalist</dd>
      <dt>Description:</dt>
      <dd>I was hired to model a high-res Eurocopter 135 and a Boeing-777 which needs to work for close up shots as well as a truck matching to film footage and lots of props. The Boeing-777’s mechanics of the flaps and the landing gear needed to be modeled and work properly by just by having photo references available. Models were done in 3ds max and brought over to MAYA.
      </dd>
    </dl>
    <p><a href="#">Download</a> Quicktime of the Commercial (available soon)</p>
  </li>

  <li>
    <h2>Older Projects 2001 – 2005</h2>
    <h3>Too old to show.</h3>
    <div class="thumbnails">

    </div>
    <dl>
    </dl>
  </li>

</ol>