<!DOCTYPE html>
<html lang="en" class="<%= page_classes.gsub('_', '-').downcase %>" xmlns:og="http://opengraphprotocol.org/schema/">
  <head>
    <meta charset="utf-8">
    <title><%= "#{@title} - " if @title %>André Cantarel</title>
    <% if @description %><meta name="description" content="<%= @description %>"><% end %>
    <meta property="og:site_name" content="cantarel.de">
    <% if @thumb %><meta property="og:image" content="<%= asset_url(@thumb) %>"><% end %>
    <link rel="stylesheet" href="<%= asset_url('stylesheets/cantarel.css') %>">
    <link href="cantarel.rss" rel="alternate" type="application/rss+xml">
    <script src="http://use.typekit.com/hjh2mae.js"></script>
    <script>for(var e,l='article aside figcaption figure footer header nav section time'.split(' ');e=l.pop();document.createElement(e));try{Typekit.load()}catch(e){};<%= %Q(var ol=function(){#{compress_javascript(javascript)}}) if javascript = @javascript %></script>
    <%= javascript_include_tag "application" %>
  </head>
  <body class="webkit">
    <div id="page">
      <header>
        <nav>
          <%= link_to("Home", asset_url(".")) %>
          <%= link_to("Blog", asset_url("blog.html")) %>
          <%= link_to("Commercial Work", asset_url("commercialwork.html")) %>
          <%= link_to("Personal Work", asset_url("personalwork.html")) %>
          <%= link_to("About", asset_url("about.html")) %>
          <%= link_to("Guestbook", asset_url("guestbook.php")) %>
          <%= link_to("Contact", asset_url("contact.html")) %>
          <%= link_to("Links", asset_url("links.html")) %>
        </nav>
      </header>
      <article>
        <div id="content">
          <% if request.url =~ %r(/blog/) %>
            <%= partial 'social-media' %>
            <% if previous_post = previous_blog_post('blog') %>
              <%= link_to "<", asset_url(previous_post.permalink), :class => 'previous-post' %>
            <% end %>
            <% if next_post = next_blog_post('blog') %>
              <%= link_to ">", asset_url(next_post.permalink), :class => 'next-post' %>
            <% end %>
            <%= yield %>
            <%= partial 'social-media' %>
          <% else %>
            <%= yield %>
          <% end %>
        </div>
      </article>
      <footer>

      </footer>
    </div>
  </body>
</html>
