<!DOCTYPE html>
<html lang="en" class="<%= page_classes.gsub('_', '-').downcase %>" xmlns:og="http://opengraphprotocol.org/schema/">
  <head>
    <meta charset="utf-8">
    <title><%= "#{current_page.data.title} - " if current_page.data.title %>André Cantarel</title>
    <% if current_page.data.description %><meta name="description" content="<%= current_page.data.description %>"><% end %>
    <meta property="og:site_name" content="cantarel.de">
    <% if current_page.data.thumb %><meta property="og:image" content="<%= asset_url(current_page.data.thumb) %>"><% end %>
    <link rel="stylesheet" href="<%= asset_url('stylesheets/cantarel.css') %>">
    <link href="cantarel.rss" rel="alternate" type="application/rss+xml">
    <script src="http://use.typekit.com/hjh2mae.js"></script>
    <script>for(var e,l='article aside figcaption figure footer header nav section time'.split(' ');e=l.pop();document.createElement(e));try{Typekit.load()}catch(e){};<%= %Q(var ol=function(){#{compress_javascript(javascript)}}) if javascript = @javascript %></script>
    <%= javascript_include_tag "application" %>
  </head>
  <body class="webkit">
    <header>
      <nav>
        <%= link_to("Home", "/") %>
        <%= link_to("Blog", "/blog.html") %>
        <%= link_to("Commercial Work", "/commercialwork.html") %>
        <%= link_to("Personal Work", "/personalwork.html") %>
        <%= link_to("About", "/about.html") %>
        <%= link_to("Guestbook", "/guestbook.php") %>
        <%= link_to("Contact", "/contact.html") %>
        <%= link_to("Links", "/links.html") %>
      </nav>
    </header>
    <% if request.url =~ %r(/blog/) %>
      <%= partial 'social-media' %>
      <% if previous_post = previous_blog_post('blog') %>
        <%= link_to "<", asset_url(previous_post.permalink), :class => 'previous-post' %>
      <% end %>
      <% if next_post = next_blog_post('blog') %>
        <%= link_to ">", asset_url(next_post.permalink), :class => 'next-post' %>
      <% end %>
      <%= yield %>
      <%= partial 'social-media' %>
    <% else %>
      <%= yield %>
    <% end %>
    <footer>

    </footer>
  </body>
</html>

