<h1>Personal Work</h1>
<ol id="portfolio">
  <li>
    <h2>White House</h2>
    <h3>Personal Project 2012-2013</h3>
    <div class="thumbnails">
      <%= portfolio_thumb("BLD_WhiteHouse_v001.jpg", "White House Residence Asset", :rel => 'personal-project-2012-2013') %>
      <%= portfolio_thumb("BLD_WhiteHouse_v002.jpg", "White House Residence Asset", :rel => 'personal-project-2012-2013') %>
      <%= portfolio_thumb("BLD_WhiteHouse_v003.jpg", "White House Residence Asset", :rel => 'personal-project-2012-2013') %>
      <%= portfolio_thumb("BLD_WhiteHouse_v004.jpg", "White House Residence Asset", :rel => 'personal-project-2012-2013') %>
      <%= portfolio_thumb("BLD_WhiteHouse_v005.jpg", "White House Residence Asset", :rel => 'personal-project-2012-2013') %>
      <%= portfolio_thumb("BLD_WhiteHouse_v006.jpg", "White House Residence Asset", :rel => 'personal-project-2012-2013') %>
      <%= portfolio_thumb("BLD_WhiteHouse_v007.jpg", "White House Residence Asset", :rel => 'personal-project-2012-2013') %>
      <%= portfolio_thumb("BLD_WhiteHouse_v008.jpg", "White House Residence Asset", :rel => 'personal-project-2012-2013') %>
      <%= portfolio_thumb("BLD_WhiteHouse_v009.jpg", "White House Residence Asset", :rel => 'personal-project-2012-2013') %>
      <%= portfolio_thumb("BLD_WhiteHouse_v010.jpg", "White House Residence Asset", :rel => 'personal-project-2012-2013') %>
    </div>
    <dl>
      <dt>Description:</dt>
      <dd>A very detailed and accurate model of the White House residence. An insame amount of time went into research as a lot of areas aren’t accessible to the public and therefore information is hard to come by. I just became interested in the architecture due to previous movie work featuring this building. The East- and West-Wing will follow when I have the time for it - and patience. Actual renderings of the White House in an environment will follow. Right now the actual renderings only show the asset by itself.</dd>
    </dl>
  </li>

  <li>
    <h2>HH-60G Pave Hawk</h2>
    <h3>Personal Project 2006</h3>
    <div class="thumbnails">
      <%= portfolio_thumb("PaveHawk_WarmUp_v001.jpg", "Warming up the engines.", :rel => 'personal-project-2006') %>
      <%= portfolio_thumb("PaveHawk_AirAirFuel_v001.jpg", "Refueling.", :rel => 'personal-project-2006') %>
      <%= portfolio_thumb("PaveHawk_GreyB_v001.jpg", "The model itself.", :rel => 'personal-project-2006') %>
      <%= portfolio_thumb("PaveHawk_GreyA_v001.jpg", "The model itself.", :rel => 'personal-project-2006') %>
      <%= portfolio_thumb("PaveHawk_Patrol_v001.jpg", "Patrol.", :rel => 'personal-project-2006') %>
      <%= portfolio_thumb("PaveHawk_Waiting_v001.jpg", "Waiting in the cold - more a concept of an idea.", :rel => 'personal-project-2006') %>
      <%= portfolio_thumb("PaveHawk_Testshots_v001.mov", :rel => 'personal-project-2006') %>
    </div>
    <dl>
      <dt>Description:</dt>
      <dd>Due to my passion for aviation and especially helicopters, I decided to create a Pave Hawk. It appears in several shots of Roland Emmerich’s “2012” as well.</dd>
    </dl>
  </li>

  <li>
    <h2>Various 3D Work</h2>
    <h3>Other personal renderings</h3>
    <div class="thumbnails">
      <%= portfolio_thumb("EC135_Police_v001.jpg", "A personal version of the EC135 I created for the Strabag Spot.", :rel => 'other-personal-renderings') %>
      <%= portfolio_thumb("EC135_Takeoff_v001.jpg", "Another personal render of the EC-135 model.", :rel => 'other-personal-renderings') %>
      <%= portfolio_thumb("boeing777_Airport_v001.jpg", "A personal version of the Boeing-777 I created for the Strabag Spot.", :rel => 'other-personal-renderings') %>
      <%= portfolio_thumb("Crunchy_v001.jpg", "Just a colorful fictive pack shot", :rel => 'other-personal-renderings') %>
      <%= portfolio_thumb("Underwater_v001.jpg", "A very very old displacement test I liked.", :rel => 'other-personal-renderings') %>
    </div>
    <dl>
      <dt>Description:</dt>
      <dd>A Collection of various personal renderings I did over the past years.</dd>
    </dl>
  </li>

  <li>
    <h2>Photography</h2>
    <h3>Canon Ixus, 20D and 5D Mark II</h3>
    <div class="thumbnails">
      <%= portfolio_thumb("Photos_P38_v001.jpg", "Pure Elegance. Berlin.", :rel => 'photography') %>
      <%= portfolio_thumb("Photos_Audi_v001.jpg", "The German Car. New York City.", :rel => 'photography') %>
      <%= portfolio_thumb("Photos_Venice_v001.jpg", "Life at Venice Beach California. Los Angeles.", :rel => 'photography') %>
      <%= portfolio_thumb("Photos_Jellyfish_v001.jpg", "SlowMotion. San Francisco.", :rel => 'photography') %>
      <%= portfolio_thumb("Photos_Jellyfish_v002.jpg", "SlowMotion II. San Francisco.", :rel => 'photography') %>
      <%= portfolio_thumb("Photos_FurryGuy_v001.jpg", "Outpost. Berlin.", :rel => 'photography') %>
      <%= portfolio_thumb("Photos_NYShip_v001.jpg", "Sailing. New York City", :rel => 'photography') %>
      <%= portfolio_thumb("Photos_F18_v002.jpg", "Sleeping Afterburners. Berlin.", :rel => 'photography') %>
      <%= portfolio_thumb("People_Silouettes_v001.jpg", "Venice Sunset. Los Angeles.", :rel => 'photography') %>
      <%= portfolio_thumb("Photos_TheFuture_v001.jpg", "The Bright Future.", :rel => 'photography') %>
    </div>
    <dl>
      <dt>Description:</dt>
      <dd>A few photos I took over the past years.
      </dd>
    </dl>
  </li>

</ol>

